@font-face {
    font-family: 'P22UndergroundCYPro';
    src: url('@/assets/fonts/P22UndergroundCYProBook.woff2') format('woff2'), url('@/assets/fonts/P22UndergroundCYProBook.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'P22UndergroundCYPro';
    src: url('@/assets/fonts/P22UndergroundCYProHeavy.woff2') format('woff2'), url('@/assets/fonts/P22UndergroundCYProHeavy.woff') format('woff');
    font-style: normal;
    font-weight: 900;
}