@import 'variables';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body {
    height: 100%;
    font-family: $global-font-family;
    font-size: 16px;
    font-weight: 400;
    color: $black-400;
    letter-spacing: 1px;
    background-color: $black-900;
}

a {
    color: $black-400;
    text-decoration: none;
    cursor: pointer;
}

sup {
    font-size: smaller;
    vertical-align: super;
}