// BREAKPOINTS
$mobile-breakpoint: 400px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 1280px;
$lg-desktop-breakpoint: 1920px;

// COLORS
$wait-w: #FFF;
$wait-5: #FFFFFF0D;
$black-100: #F0EEED;
$black-400: #BAB4B0;
$black-500: #8B8887;
$black-700: #514E4C;
$black-800: #3A3634;
$black-850: #34312F;
$black-900: #302D2B;
$primary-200: #E8CB9E;
$primary-300: #F0DCBF;
$primary-500: #D9A85E;
$primary-600: #BF9048;

// globals
$global-font-family: 'P22UndergroundCYPro';
$global-selection-color: #424C5B;
